<a href="https://colab.research.google.com/github/Boggavarapudeepthi/Python/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
data={
    "NAME":["SAI","PANDU","SATHISH","SATYA","PRASAD","CHINNU"],
    "AGE":[23,25,30,40,32,13],
    "CITY":["ONGOLE", "DARSI", "VIJAYAVADA","ADDANKI","PODILI","PURIMETLA"],
}
df=pd.DataFrame(data)
print(df)

      NAME  AGE        CITY
0      SAI   23      ONGOLE
1    PANDU   25       DARSI
2  SATHISH   30  VIJAYAVADA
3    SATYA   40     ADDANKI
4   PRASAD   32      PODILI
5   CHINNU   13   PURIMETLA

In [ ]:
[df.head]

[<bound method NDFrame.head of       NAME  AGE        CITY
 0      SAI   23      ONGOLE
 1    PANDU   25       DARSI
 2  SATHISH   30  VIJAYAVADA
 3    SATYA   40     ADDANKI
 4   PRASAD   32      PODILI
 5   CHINNU   13   PURIMETLA>]

In [ ]:
[df.tail]

[<bound method NDFrame.tail of       NAME  AGE        CITY
 0      SAI   23      ONGOLE
 1    PANDU   25       DARSI
 2  SATHISH   30  VIJAYAVADA
 3    SATYA   40     ADDANKI
 4   PRASAD   32      PODILI
 5   CHINNU   13   PURIMETLA>]

In [ ]:
[df.info]

[<bound method DataFrame.info of       NAME  AGE        CITY
 0      SAI   23      ONGOLE
 1    PANDU   25       DARSI
 2  SATHISH   30  VIJAYAVADA
 3    SATYA   40     ADDANKI
 4   PRASAD   32      PODILI
 5   CHINNU   13   PURIMETLA>]

In [ ]:
[df.NAME]

[0        SAI
 1      PANDU
 2    SATHISH
 3      SATYA
 4     PRASAD
 5     CHINNU
 Name: NAME, dtype: object]

In [ ]:
[df.shape]

[(6, 3)]

In [ ]:
[df.describe]

[<bound method NDFrame.describe of       NAME  AGE        CITY
 0      SAI   23      ONGOLE
 1    PANDU   25       DARSI
 2  SATHISH   30  VIJAYAVADA
 3    SATYA   40     ADDANKI
 4   PRASAD   32      PODILI
 5   CHINNU   13   PURIMETLA>]

In [ ]:
(df[df["AGE"]>20])

      NAME  AGE        CITY
0      SAI   23      ONGOLE
1    PANDU   25       DARSI
2  SATHISH   30  VIJAYAVADA
3    SATYA   40     ADDANKI
4   PRASAD   32      PODILI

In [ ]:
[df.columns]

[Index(['NAME', 'AGE', 'CITY'], dtype='object')]

In [ ]:
[df.index]

[RangeIndex(start=0, stop=6, step=1)]

In [ ]:
[df.loc[0]]

[NAME       SAI
 AGE         23
 CITY    ONGOLE
 Name: 0, dtype: object]

In [ ]:
[df.iloc[0:4]]

[      NAME  AGE        CITY
 0      SAI   23      ONGOLE
 1    PANDU   25       DARSI
 2  SATHISH   30  VIJAYAVADA
 3    SATYA   40     ADDANKI]

In [ ]:
[df.isnull()]

[    NAME    AGE   CITY
 0  False  False  False
 1  False  False  False
 2  False  False  False
 3  False  False  False
 4  False  False  False
 5  False  False  False]

In [ ]:
[df.duplicated]

[<bound method DataFrame.duplicated of       NAME  AGE        CITY
 0      SAI   23      ONGOLE
 1    PANDU   25       DARSI
 2  SATHISH   30  VIJAYAVADA
 3    SATYA   40     ADDANKI
 4   PRASAD   32      PODILI
 5   CHINNU   13   PURIMETLA>]

In [ ]:
[df.drop_duplicates]

[<bound method DataFrame.drop_duplicates of       NAME  AGE        CITY
 0      SAI   23      ONGOLE
 1    PANDU   25       DARSI
 2  SATHISH   30  VIJAYAVADA
 3    SATYA   40     ADDANKI
 4   PRASAD   32      PODILI
 5   CHINNU   13   PURIMETLA>]

In [ ]:
[df.fillna]

[<bound method NDFrame.fillna of       NAME  AGE        CITY
 0      SAI   23      ONGOLE
 1    PANDU   25       DARSI
 2  SATHISH   30  VIJAYAVADA
 3    SATYA   40     ADDANKI
 4   PRASAD   32      PODILI
 5   CHINNU   13   PURIMETLA>]