<a href="https://colab.research.google.com/github/Boggavarapudeepthi/Python/blob/main/Problems.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a={1,2,3, 4}
b={2,3,4,5}
c={0,2,3,4}
x=a&b&c
print(x)

{2, 3, 4}

In [ ]:
a="deepthi"
b=""
for i in a:
    if i not in b:
        b=b+i
print(b)

depthi

In [ ]:
#prime number
n=int(input())
for num in range(2,n):
   for i in range (2,num):
      if(num%i==0):
         break
   else:
      print(num,end=" ")

20
2 3 5 7 11 13 17 19

In [ ]:
#factorial problem
n=int(input())
fact=1
for i in range (1,n+1):
    fact*=i
print(fact)

13
6227020800

In [ ]:
#leap year
Year=int(input())
if(Year%4==0 and Year%100!=0)or(Year%400==0):
   print("leap Year")
else:
   print("not leap Year")

3000
not leap Year

In [ ]:
#febnoki series
n=int(input())
a,b=0,1
for i in range(n):
   print(a, end=" ")
   a,b=b,a+b

8
0 1 1 2 3 5 8 13

In [ ]:
#Count#
n=int(input())
count=0
while n>0:
   n=n//10
   count+=1
print(count)

5
1

In [ ]:
n=input()
count=0
for i in str(n):
   count+=1
print(count)

Deepthi
7

In [ ]:
n=int(input())
s=str(n)
if(s==s[::-1]):
   print("palindrom")
else:
   print("not palindrom")

121
palindrom

In [ ]:
a=input()
if a==a[::-1]:
   print("palindrom")
else:
   print("not palindrom")

MADAM
palindrom

In [ ]:

num = int(input("Enter a number: "))

for i in range(1, 11):
    print(f"{num} x {i} = {num * i}")

Enter a number: 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [ ]:
n = int(input("Enter a number: "))
sum=0
for i in range(1,n+1):
    print(n+i)

Enter a number: 7
8
9
10
11
12
13
14

In [ ]:
n = int(input("Enter a number: "))
sum = 0
for i in range(1, n + 1):
    sum+= i
print(sum)

Enter a number: 4
10

In [ ]:
n = int(input())
rev = 0

while n > 0:
    rev = rev * 10 + (n % 10)
    n = n// 10

print(rev)

5678
8765